*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: rgba(7, 26, 15, 0.55);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(0, 255, 120, 0.25);
    



    
}
.menu{
    list-style: none;
    display: flex;
    margin-left: 70px;
    margin-right: 50px;
    gap: 70px;
    
}
.menu a{
    display: inline-block;
    text-decoration: none;
    color: rgb(90 , 224, 7);
    font-size: large;
    transition: all ease 1.5s;

}
.menu a::after{
    content: "";
    position: absolute;
    right: 0;              /* SAĞDAN başlasın */
    bottom: -3px;
    width: 0;
    height: 2px;
    background: rgb(116, 230, 9);
    transition: width 0.3s ease;
}
.menu a:hover{
    transform: translateY(-2px);
    background-color: rgba(21, 29, 16, 0.71);
}
.menu a:hover::after{
    width: 100%;          
    left: 0;
}
h1{
    margin-left: 30px;
    color: rgb(90, 244, 7);
}
body{
   min-height: 100vh;
  margin: 0;

  background: linear-gradient(
    -45deg,
    #071a0f,
    #0d2a1a,
    #0f3a25,
    #0d2a1a
  );

  background-size: 400% 400%;
  animation: gradientBG 25s ease infinite;

  font-family: Arial, sans-serif;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.about{
  border: 1.5px solid rgba(0,255,120,0.5);
  padding: 40px;
  max-width: 720px;
  margin: 80px auto;
  line-height: 1.9;
  border-radius: 14px;
  box-shadow: 0 0 18px rgba(0,255,120,0.15);

}

.me{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 30px;
    color: #F0F3FC;
}
.about p {
  margin-bottom: 25px;
  color: #e6f1eb;
}

.about .info {
  font-size: 18px;
  font-weight: 600;
}
.social-media {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.social-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e293b;
margin-bottom: 50px;
  transition:
    background 1s ease,
    transform 1s ease;
    
}

.social-btn svg {
  width: 28px;
  height: 28px;
  fill: white;
  transition: fill 1s ease;
}

.social-btn.instagram:hover {
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  transform: translateY(-10px);
}


.social-btn.github:hover {
  background: #2563eb;
  transform: translateY(-10px);
}
